# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Arduino / PlatformIO build artifacts
build/
*.hex
*.elf
*.bin
*.o
*.d
*.eep
*.lss
*.map
*.sym
.pio/
.pioenvs/
.piolibdeps/
.vscode/

# Web / Next.js
node_modules/
.next/
out/

# Temporary / logic analyzer outputs
*.vcd
*.zip
